name: OpenSSF Scorecard

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 8 * * 1" # every Monday at 08:00 UTC

permissions: read-all

jobs:
  scorecard:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write # needed for keyless signing

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run Scorecard
        uses: ossf/scorecard-action@v2
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: true

      - name: Upload results to code scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: scorecard.sarif
          category: scorecard
